@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Nixie+One&family=Poppins:ital,wght@0,200;0,400;1,100&family=Redacted+Script:wght@300&display=swap");
:root {
  --main: #e56307;
  --second: #d89e80;
  --gray: #bebebe;
  --neutral: #dfe0df;
  --accent: #63baab;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--second);
  border-bottom: 2px solid var(--gray);
}

h1,
h2,
h5,
.navbar-nav a {
  font-family: "Nixie One", cursive;
  font-weight: 100;
  font-style: none;
}

.navbar-nav a {
  font-size: x-large;
}

img {
  width: 500px !important;
}

p {
  font-family: "Redacted Script", cursive;
  font-weight: 200;
}

p:hover {
  font-family: "Poppins", sans-serif;
}

.back {
  background-color: var(--neutral);
  height: auto;
}

.home {
  background-color: var(--second);
  border: 1px solid var(--main);
}

.about {
  background-color: white;
  border: 1px solid var(--main);
}

.vert {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

hr {
  color: var(--second);
  height: 5px;
  opacity: 50%;
}

.vr {
  color: var(--main);
  width: 10px;
  opacity: 50%;
}

.card-body {
  background-color: white;
}

.card-text {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-size: 30px;
}

.btn {
  border: none;
  background-color: var(--accent);
}

.btn:hover {
  background-color: var(--second);
}

footer {
  font-family: "Nixie One", cursive;
  font-weight: 100;
  background-color: var(--neutral);
  border-top: 2px solid var(--gray);
  text-align: center;
}
